html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: larger;
}
#content {
    display: grid;
    grid-template-areas:
    'welcome'
    'tider'
    'pizza'
    'dricka'
    'glass'
    'event';
}
@media (min-width: 1000px) {
    #content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'welcome tider'
        'glass event'
        'pizza dricka';
    }
}

#topbar {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
    background-color: #4A3535;
    padding-top: 10px;
    padding-bottom: 10px;
}
#topbar a {
    background-color: rgba(107, 97, 78, 0.8);
    /* margin: 5px; */
    padding: 7px;
    padding-top: 5px;
    color: wheat;
    border-radius: 10px;
    border: 1px solid wheat;
    text-decoration: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.363);
    transition: all .1s ease-in-out;
}
#topbar a:hover {    
    background-color: rgba(133, 120, 98, 0.8);
    box-shadow: 0px 2px 20px rgba(199, 199, 199, 0.363);
}

#WIP {
    background-color: orange;
    border: 10px dotted black;
    padding: 5%;
    text-align: center;
}


section {
    padding: 2%;
    text-align: center;
}

#welcome {
    grid-area: welcome;
    background-image: url(front_view.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: wheat;
    background-attachment: fixed;
}
/* @media (max-width: 1300px) {
    #welcome {
        background-position-y: 100%;
    }
}
@media (max-width: 1000px) {
    #welcome {
        background-size: contain;
    }
} */
#welcome h1 {
    text-align: center;
    padding-bottom: 7rem;
    padding-top: 7rem;
    font-size: xx-large;
}

#tider {
    grid-area: tider;
    background-color: pink;
}

#pizza {
    background-color: rgb(132, 33, 33);
    color: wheat;
}
#pizzasorter {
    color: black;
    grid-area: pizza;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    /* padding: 1rem; */
    padding-bottom: 1rem;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
}
.pizzasort {
    border-radius: 1rem;
    background-color: wheat;
    padding: .5rem;
    margin: .7rem;
    width: 12rem;
}
@media (max-width: 1200px) {
    #pizzasorter {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    #pizzasorter {
        padding-left: 2%;
        padding-right: 2%;
    }
}
@media (max-width: 500px) {
    #pizzasorter {
        grid-template-columns: 1fr;
    }
    .pizzasort {
        width: 15rem;
    }
}

.pizzasort h4 {
    line-height: 0;
}

/* .image-container {
    position:relative;
    z-index: 0;
    top: 0;
} */
.image-container {
    
    height: 40vh;
    /* center the image (crop instead of stretch) */
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
}
.image-container canvas {
    border-radius: 1rem;
    width: 100%;
}

#dricka {
    grid-area: dricka;
    background-color: rgb(133, 170, 235);
}
#glass {
    grid-area: glass;
    background-color: cornsilk;
}
#event {
    grid-area: event;
    background-color: rgb(92, 33, 122);
    color: wheat;
}
#kontakt {
    background-color: #4A3535;
    color: wheat;
    font-size: medium;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#kontakt p {
    margin: 20px;
}